<h1>About Shortcut</h1>

<pre>

We create shortcut buttons out of plastics, electronics and passion. Stick a shortcut button where it suits you and use a smartphone app to configure it. Now you have a physical shortcut to practically any function in the digital world imaginable.




== References:

1. https://github.com/plataformatec/devise
2. http://twitter.github.io/bootstrap/
3. http://bootswatch.com/
4. https://github.com/morshedalam/rename


</pre>